.main {
  padding-bottom: 24px;
  background: url('../../Images/main-bg.svg');
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.event-card-container {
  margin-top: 8px;
}

.date-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white!important;
  padding: 16px 0px;
}

.react-date-picker__calendar-button__icon {
  stroke: white!important;
}

.date-selector p {
  font-size: 25px;
}

.date-selector .react-date-picker__inputGroup{
  display: none;
}

.date-selector .react-date-picker__wrapper {
  border: 0px!important;
}

.footer{
  padding:20px;
}
.next, .prev {
  color: #2497AC;
  font-weight: 900;
}
.next:hover, .prev:hover {
  cursor: pointer;
}
.next {
  float: right;
}
.prev {
  float: left;
}