#header {
  width: 100%;
  position: static;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 8px solid #65CBDA;
}

#sidenav {
  height: 100%;
  width: 0px; 
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #1D5171;
  color: white;
  overflow-x: hidden;
  padding-top: 90px;
  transition: 0.3s;
}

#sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.burger_hamburger__21cuQ {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 27px;
}